<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid ms-2">
            <a class="navbar-brand " href="#"><img src="public/images/dumbways-logo.jpg" style="width: 32px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mx-2" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" href="/testimoni">Testimonials</a>
                      </li>

                </ul>
                
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link fw-semibold" href="/form-register">Register</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link active fw-bold " href="/form-login">Login</a>
                        </li>
                    </ul>
                    <a class="btn btn-color btn-submit ms-5 " href="/contact">Contact Me</a>
                </div>

                <!-- <button class="btn  btn-color" type="button"> <a href="contact-form.html" style="color: white
                    ; text-decoration: none;">Contact Me</a></button> -->

            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <div class="mb-5">
        <div class="my-5">
            <p class="text-center fs-2 fw-bold">LOGIN TO YOUR ACCOUNT</p>
        </div>
        <form class="mx-auto" action="/login" method="POST">   


            <div class="mb-3">
                <label for="email" class="form-label fw-bold">Email</label>
                <input type="email" class="form-control shadow  bg-body-tertiary rounded input-form"
                    id="email" name="email" aria-describedby="emailHelp" required>
            </div>


            <div class="mb-3">
                <label for="password" class="form-label fw-bold">Password</label>
                <input type="password" class="form-control shadow  bg-body-tertiary rounded input-form"
                    id="password" name="password" required>
            </div>



            <div class="d-flex justify-content-center justify-content-sm-end mt-5">
                <button class="btn btn-color px-5 py-0 rounded-pill" style="height:37px;">Log In</button>
            </div>
            
        </form>

    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>